html {
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2 {
  text-align: center;
  color: #7a0060;
}

h1, h2, h3 {
  font-family: "Sansita Swashed", cursive;
}

nav ul {
  display: inline;
}

nav li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 50%;
}

footer {
  background-color: #7a0060;
  color: #fff;
}
